server:
  port: 8000

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/user/** # ?? gateway ??? /user/**? ???? url? user-service? ?????? ??
          filters:
                - RewritePath=/user/?(?<segment>.*), /$\{segment}

        - id: order-service
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/order/** # ?? gateway ??? /order/**? ???? url? order-service? ?????? ??
          filters:
            - RewritePath=/order/?(?<segment>.*), /$\{segment}